In [1]:
import pandas as pd
# `import pandas as pd` â€” Python mein **pandas library** ko `pd` naam se **import** karna hota hai.

In [2]:
df = pd.read_csv("weather_data.csv")
df
# CSV file ka data pandas ke DataFrame mein load karke print karna!

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df
# Yeh code dictionary ko DataFrame banane ke liye `df` mein store karta hai.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows, columns = df.shape
# `df.shape` DataFrame ke **(rows, columns)** ki **count** batata hai.

In [6]:
columns

4

In [7]:
rows

6

In [8]:
df.head()
# `df.head()` â€” DataFrame ke **pehle 5 rows** ko dikhata hai!

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
df.head(1)
# `df.head(1)` â€” DataFrame ki **sirf pehli row** ko dikhata hai!

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [10]:
df.tail()
# `df.tail()` â€” DataFrame ke **aakhri 5 rows** ko dikhata hai!

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.tail(5)
# `df.tail()` DataFrame ke **aakhri 5 rows** ko dikhata hai.

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df[2:5]
# `df[2:5]` â€” DataFrame ki **3rd se 5th row** (index 2 se 4 tak) ko dikhata hai.

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day
# `df.columns` â€” DataFrame ke **sabhi column names** ko dikhata hai.

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df.event
# `df.event` â€” DataFrame ke **event column** ko select karta hai.

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [16]:
df['event']
# `df['event']` â€” DataFrame ke **event column** ko select karke uska data dikhata hai.

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [17]:
type(df['event'])
# `type(df['event'])` â€” Ye command **event column** ke data type ko batata hai, jo generally **pandas Series** hoga.

pandas.core.series.Series

In [18]:
df[['event', 'day']]
# `df[['event', 'day']]` â€” DataFrame ke **event** aur **day** columns ko select karta hai.

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [19]:
df[['event', 'day', 'temperature']]
# `df[['event', 'day', 'temperature']]` â€” DataFrame ke **event**, **day**, aur **temperature** columns ko select karta hai.

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [20]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df['temperature'].max()
# `df['temperature'].max()` â€” **temperature** column mein sabse **zyada value** (maximum temperature) ko dikhata hai.

35

In [22]:
df['temperature'].min()
# `df['temperature'].min()` â€” **temperature** column mein sabse **kam value** (minimum temperature) ko dikhata hai.

24

In [23]:
df['temperature'].mean()
# df['temperature'].mean()

30.333333333333332

In [24]:
df['temperature'].std()

3.8297084310253524

In [25]:
df.describe()
# `df['temperature'].std()` â€” **temperature** column ka **standard deviation** calculate karta hai, jo data ki spread ya variability ko dikhata hai.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [26]:
df[df.temperature>=32]
# `df[df.temperature >= 32]` â€” DataFrame ke **un rows** ko dikhata hai jahan **temperature** 32 ya usse zyada ho.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [27]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [28]:
df['day'][df['temperature'] == df['temperature'].max()]
# df[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [29]:
df[['day','temperature']][df.temperature == df['temperature'].max()]
# DataFrame ki wo row ko dikhata hai jisme temperature sabse zyada ho, aur sirf day aur temperature columns ko display karta hai.

        day  temperature
1  1/2/2017           35

In [30]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
df.index
# `df.index` â€” DataFrame ke **index labels** ko dikhata hai.

RangeIndex(start=0, stop=6, step=1)

In [32]:
df.set_index('day')
# `df.set_index('day')` â€” **day** column ko DataFrame ka **index** bana deta hai.

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [33]:
df.set_index('day', inplace=True)
df
# `df.set_index('day', inplace=True)` â€” **day** column ko DataFrame ka **index** bana deta hai aur changes ko **permanently** apply karta hai (inplace). Ab **df** mein **day** column index ke roop mein dikhai dega.

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [34]:
df.loc['1/3/2017']
# `df.loc['1/3/2017']` â€” DataFrame mein **1/3/2017** date ke liye **sari row** ko retrieve karta hai, jab `day` column ko index set kiya ho./

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [35]:
df.reset_index(inplace=True)
df
# DataFrame ka index ko reset karke default numeric index laga deta hai, aur changes ko permanently apply karta hai (inplace). Ab day column dobara se ek normal column ban jayega.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [36]:
df.set_index('event', inplace=True)
df
 event column ko DataFrame ka index bana deta hai aur changes ko permanently apply karta hai. Ab event column index ke roop mein dikhai dega.

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [37]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7